body {
	text-align: left;
	background-color: #00FFFF;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #C71585;
	font-size: 16px;

}
h1 {
	text-align: left;
	padding-left: 80px;
	padding-top: 55px;
	padding-bottom: -50px;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	font-weight: 900px;
	line-height: 65px;
	font-style: black;
	color: deeppink;
}

h2 {
	margin-top: -30px;
	text-align: left;
	padding-left: 180px;
	font-family: 'Poppins';
	font-size: 10px;
	font-weight: 200;
	font-style: italic;
	color: #C71585;
}

h3 {
	margin-top: -360px;
	text-align: left;
	padding-left: 80px;
	font-family: 'Poppins';
	font-size: 12px;
	font-weight: 600;
	color: #C71585;
}
h4 {
	margin-top: 400px;
	text-align: left;
	padding-left: 180px;
	font-family: 'Poppins';
	font-size: 10px;
	font-weight: 200;
	letter-spacing: 2px;
	color: deeppink;
}
.chorus {
	text-align: left;
	padding-left: 180px;
	font-family: 'Poppins';
	font-size: 12px;
	line-height: 22px;
	font-weight: 600;
	color: #C71585;
}
.verse {
	text-align: left;
	padding-left: 80px;
	font-family: 'Poppins';
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	color: #C71585;
}
h5{
	margin-top: 50px;
	text-align: left;
	padding-left: 80px;
	font-family: 'Poppins';
	font-size: 10px;
	font-weight: 200;
	letter-spacing: 2px;
	color: navy;
}
h6{
	margin-top: 50px;
	text-align: left;
	padding-left: 80px;
	font-family: 'Poppins';
	font-size: 10px;
	font-weight: 200;
	letter-spacing: 2px;
	color: deeppink;	
}

